<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>SOI</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/sticky-footer-navbar.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SOI</a>
          </div>
          <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">England <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">All</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">News Papers</li>
                <li><a href="#">The Daily Telegraph</a></li>
                <li><a href="#">The Times</a></li>
                <li><a href="#">The Independent</a></li>
                <li><a href="#">The Guardian</a></li>
                <li><a href="#">The Financial Times</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Spain <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">All</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">News Papers</li>
                <li><a href="#">MARCA</a></li>
                <li><a href="#">El Mundo Deportivo</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Germany <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">All</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">News Papers</li>
                <li><a href="#">Kicker-Sportmagazin</a></li>
                <li><a href="#">Bild-Zeitung</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Italy <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">All</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">News Papers</li>
                <li><a href="#">La Gazzetta dello Sport</a></li>
                <li><a href="#">Corriere dello Sport</a></li>
                <li><a href="#">Tuttosport</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">France <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">All</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">News Papers</li>
                <li><a href="#">L'Equip</a></li>
              </ul>
            </li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>

          <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
            </form>
          </div>
          
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1>SOI Football news crawler</h1>
        </div>
        <p class="lead">I is a collection of news about football from sports newspaper around the world.</p>
        <p class="text-muted"><span class="glyphicon glyphicon-transfer"></span>世界各国のスポーツ新聞からサッカーに関するニュースを集めています。</p>

        <!-- Article List -->
        <div id="article-list">
          <% @result_array.each do |result| %>
            <div class="article-list-title">
              <h3><%= link_to result["title"], controller:"sample_elasticsearches", action:"show", id: result["article_id"] %></h3>
              <h5 class="text-muted"><span class="glyphicon glyphicon-transfer"></span> <%= result["title_ja"] %></h5>
              <div><span class="label label-default">England : The Daily Telegraph</span> <strong><%= result["author"] %></strong> <%= result["published_date"] %></div>
            </div>
          <% end %>



          <div class="article-list-title">
            <h3><a href="#">England manager Roy Hodgson needs Ashley Cole, Frank Lampard and Jack Wilshere to earn their starting places</a></h3>
            <h5 class="text-muted"><span class="glyphicon glyphicon-transfer"></span> イングランドマネージャーロイホジソンはその出発の場所を得るためにアシュリー?コール、フランク?ランパードとジャック?ウィルシャーが必要</h5>
            <div><span class="label label-default">England : The Daily Telegraph</span> <strong>Jason Burt</strong> 2013-11-16T22:30:54</div>
          </div>
          <div class="article-list-title">
            <h3><a href="#">Isco is the key</a></h3>
            <h5 class="text-muted"><span class="glyphicon glyphicon-transfer"></span> イスコが鍵です</h5>
            <div><span class="label label-danger">Spain : MARCA</span> <strong>MARCA</strong> 2013-11-17T17:34:24+0100</div>
          </div>
          <div class="article-list-title">
            <h3><a href="#">Sven Bender auf der Sechs - Weidenfeller vor Debut</a></h3>
            <h5 class="text-muted"><span class="glyphicon glyphicon-transfer"></span> 六時スヴェンベンダー - デビュー前Weidenfeller</h5>
            <div><span class="label label-warning">Germany : Kicker-Sportmagazin</span> <strong>kicker online</strong> 2013-11-18T07:47:01+02:00</div>
          </div>
          <div class="article-list-title">
            <h3><a href="#">England manager Roy Hodgson needs Ashley Cole, Frank Lampard and Jack Wilshere to earn their starting places</a></h3>
            <h5 class="text-muted"><span class="glyphicon glyphicon-transfer"></span> イングランドマネージャーロイホジソンはその出発の場所を得るためにアシュリー?コール、フランク?ランパードとジャック?ウィルシャーが必要</h5>
            <div><span class="label label-success">Italy : La Gazzetta dello Sport</span> <strong>Jason Burt</strong> 2013-11-16T22:30:54</div>
          </div>
          <div class="article-list-title">
            <h3><a href="#">England manager Roy Hodgson needs Ashley Cole, Frank Lampard and Jack Wilshere to earn their starting places</a></h3>
            <h5 class="text-muted"><span class="glyphicon glyphicon-transfer"></span> イングランドマネージャーロイホジソンはその出発の場所を得るためにアシュリー?コール、フランク?ランパードとジャック?ウィルシャーが必要</h5>
            <div><span class="label label-info">France : L'Equip</span> <strong>Jason Burt</strong> 2013-11-16T22:30:54</div>
          </div>
        </div>
        <div id="article-list">
          <div class="article-list-title">
            <h3><a href="#">England manager Roy Hodgson needs Ashley Cole, Frank Lampard and Jack Wilshere to earn their starting places</a></h3>
            <h5 class="text-muted"><span class="glyphicon glyphicon-transfer"></span> イングランドマネージャーロイホジソンはその出発の場所を得るためにアシュリー?コール、フランク?ランパードとジャック?ウィルシャーが必要</h5>
            <div><span class="label label-default">England : The Daily Telegraph</span> <strong>Jason Burt</strong> 2013-11-16T22:30:54</div>
          </div>
          <div class="article-list-title">
            <h3><a href="#">Isco is the key</a></h3>
            <h5 class="text-muted"><span class="glyphicon glyphicon-transfer"></span> イスコが鍵です</h5>
            <div><span class="label label-danger">Spain : MARCA</span> <strong>MARCA</strong> 2013-11-17T17:34:24+0100</div>
          </div>
          <div class="article-list-title">
            <h3><a href="#">Sven Bender auf der Sechs - Weidenfeller vor Debut</a></h3>
            <h5 class="text-muted"><span class="glyphicon glyphicon-transfer"></span> 六時スヴェンベンダー - デビュー前Weidenfeller</h5>
            <div><span class="label label-warning">Germany : Kicker-Sportmagazin</span> <strong>kicker online</strong> 2013-11-18T07:47:01+02:00</div>
          </div>
          <div class="article-list-title">
            <h3><a href="#">England manager Roy Hodgson needs Ashley Cole, Frank Lampard and Jack Wilshere to earn their starting places</a></h3>
            <h5 class="text-muted"><span class="glyphicon glyphicon-transfer"></span> イングランドマネージャーロイホジソンはその出発の場所を得るためにアシュリー?コール、フランク?ランパードとジャック?ウィルシャーが必要</h5>
            <div><span class="label label-success">Italy : La Gazzetta dello Sport</span> <strong>Jason Burt</strong> 2013-11-16T22:30:54</div>
          </div>
          <div class="article-list-title">
            <h3><a href="#">England manager Roy Hodgson needs Ashley Cole, Frank Lampard and Jack Wilshere to earn their starting places</a></h3>
            <h5 class="text-muted"><span class="glyphicon glyphicon-transfer"></span> イングランドマネージャーロイホジソンはその出発の場所を得るためにアシュリー?コール、フランク?ランパードとジャック?ウィルシャーが必要</h5>
            <div><span class="label label-info">France : L'Equip</span> <strong>Jason Burt</strong> 2013-11-16T22:30:54</div>
          </div>
        </div>

        <!-- paging -->
        <div class="text-center">
          <ul class="pagination pagination-lg">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>
        <!-- paging -->

      </div>
    </div>
    
    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Copyright (C) 2013 crossnote All Rights Reserved.</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/assets/bootstrap.js"></script>
  </body>
</html>
