
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>SOI</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/sticky-footer-navbar.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SOI</a>
          </div>
          <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">England <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">All</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">News Papers</li>
                <li><a href="#">The Daily Telegraph</a></li>
                <li><a href="#">The Times</a></li>
                <li><a href="#">The Independent</a></li>
                <li><a href="#">The Guardian</a></li>
                <li><a href="#">The Financial Times</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Spain <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">All</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">News Papers</li>
                <li><a href="#">MARCA</a></li>
                <li><a href="#">El Mundo Deportivo</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Germany <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">All</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">News Papers</li>
                <li><a href="#">Kicker-Sportmagazin</a></li>
                <li><a href="#">Bild-Zeitung</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Italy <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">All</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">News Papers</li>
                <li><a href="#">La Gazzetta dello Sport</a></li>
                <li><a href="#">Corriere dello Sport</a></li>
                <li><a href="#">Tuttosport</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">France <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">All</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">News Papers</li>
                <li><a href="#">L'Equip</a></li>
              </ul>
            </li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          
          <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
            </form>
          </div>
          
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
      
        <div id="article-title">
          <h3>England manager Roy Hodgson needs Ashley Cole, Frank Lampard and Jack Wilshere to earn their starting places</h3>
          <h5 class="text-muted"><span class="glyphicon glyphicon-transfer"></span> イングランドマネージャーロイホジソンはその出発の場所を得るためにアシュリー?コール、フランク?ランパードとジャック?ウィルシャーが必要</h5>
          <div><span class="label label-default">England : The Daily Telegraph</span> <strong>Jason Burt</strong> 2013-11-16T22:30:54</div>
        </div>
      
        <!-- Article -->
        <div class="row">
          <div id="article">
            <div class="col-md-6">
              <p>
Suddenly for England there are more questions than answers. It was not the defeat against Chile on Friday that was the problem; it was the manner of it. It was not the blooding of young players that was an issue; it was the displays of their senior colleagues.
Roy Hodgson has handled queries over the form of his apparent first-choices by rightly stating that he is not making his selections now for a World Cup that starts in June. There are, potentially, six months to go before England kick off. But there are only two more friendlies — against Germany on Tuesday and Denmark on March 5 — before the England manager names his initial 30-man squad that will be reduced to a final 23.
The left-back position, once considered one of England’s main strengths, has now become emblematic of their problems.
Ashley Cole will start against Germany but his chances of remaining England’s first-choice at the World Cup ahead of Leighton Baines are rated at no more than 50-50 by Hodgson. “I’ll push back the decision on who is the No 1 and who is the No 2 until I really have to,” Hodgson said.
The notion that Cole, still only 32 and having won 105 caps, is under such serious threat would appear testimony to the strength England have – with Arsenal’s Kieran Gibbs also in the squad and Southampton’s Luke Shaw also making such a strong impression.
              </p>
            </div>
            <div class="col-md-6">
              <p>
突然、イングランドのための答えよりも多くの質問があります。それが問題だった金曜日のチリに対する敗北ではなかった、それはそれのやり方だった。それが問題だった若い選手の血塗りではなかった、それは彼らの先輩の展示だった。
ロイ·ホジソンは、当然、彼は6月に始まり、ワールドカップのために今の彼の選択を行っていないことを示すことによって、彼の見かけ上の第一の選択肢の形式に対する問合せを処理した。イングランドは、キックオフまであと6ヶ月は、潜在的にあります。ドイツに対して火曜日とデンマークに3月5日 - オン - イギリスマネージャー名、最終23に低減されます、彼の最初の30人のチームの前にだけ2以上の親善があります。
かつてイギリスの主要な長所の一つと考えられて左サイドバックのポジションは、現在彼らの問題の象徴となっています。
アシュリー·コールは、ドイツに対して開始されますが、先にレイトンベインズのワールドカップでイングランドの第一選択の残りの彼のチャンスはホジソンによってせいぜい50から50に定格されています。 「私は1が誰であるかについての決定と誰がを押し戻すよいいえ2私は本当に持つまでは、「ホジソンは語った。
持っているコールは、まだわずか32と105キャップを獲得した、このような深刻な脅威にさらされているという考えが強イギリスへの証言を見える - もチーム内のアーセナルのキーラン·ギブスと、このような強い印象を作るサウサンプトンのルーク·ショウで。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Copyright (C) 2013 crossnote All Rights Reserved.</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/assets/bootstrap.js"></script>
  </body>
</html>
